* {
    padding: 0;
    margin: 0;
}


/* 定义图标 */
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.slide {
    animation: slideDown 1s infinite;
    color: rgba(0, 0, 0, 0.693);
    cursor: pointer;
    font-size: 15px;
}


@keyframes slideDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* 边距 */
.distance {
    height: 200px;
    padding-top: 30px;
}

#homepage-content {
    display: none;
}

/* 倒计时 */
#countdown {
    color: white;
}

/* 背景图片 */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, #2075e0, #67bdf9);
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}


.card-hr {
    width: 120px;
    margin: 5px auto;
}

h1 {
    margin-top: 20px;
    color: aliceblue;
    margin-bottom: 10px;
    font-family: '微软雅黑';
}

.solid:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #557ff1;
}

a {
    text-decoration: none;
    color: #557ff1;
}

.con {
    position: relative;
    top: 30px;
    height: 600px;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}


.box {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    background-color: #eef2ff;
    padding: 20px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    /* 初始设置为透明 */
    animation: slideIn 1s ease-in-out forwards;
    /* 添加动画效果 */
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box::box:nth-child(1) {
    animation-delay: 0.2s;
    /* 第一个 div 延迟 0.2s */
}

.box:nth-child(2) {
    animation-delay: 0.4s;
    /* 第二个 div 延迟 0.4s */
}

.box:nth-child(3) {
    animation-delay: 0.6s;
    /* 第三个 div 延迟 0.6s */
}

.box:nth-child(4) {
    animation-delay: 0.8s;
    /* 第四个 div 延迟 0.8s */
}

/* 定义动画效果 */
@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.box:hover .download-text {
    display: block;
}

.download-text {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    font-size: 14px;
    color: gray;
}

/* 显示滚动条 */
.overflow {
    height: 150px;
    overflow: auto;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.1);
}

/* 名言 */
.hitokoto-fullpage {
    position: relative;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    z-index: 1;
    color: white;
    margin: 30px auto 0;
    width: 550px;
    display: none;
}

.hitokoto-fullpage #hitokoto {
    font-size: 1.2rem;
    text-align: center;
    line-height: 50px;
    word-break: normal;
    margin: 0;
    padding: 15px 10px;
}

/* 左箭头 */
.hitokoto-fullpage .left {
    position: absolute;
    left: 0px;
    top: 0;
}

/* 右箭头 */
.hitokoto-fullpage .right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.source {
    font-size: 20px;
    color: white;
    float: right;
    margin-top: 40px;
}

.page-footer {
    background: #494e5a;
    color: #fff;
}

.page-footer .top {
    width: 1140px;
    height: 160px;
    padding: 30px 0 0px;
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: space-between;
}

/* logo */
.footer-logo {
    width: 20%;
}

/* 弹 */
.page-footer .top .introduction {
    border-right: 1px solid rgb(100, 98, 98);
    height: 120px;
    display: flex;
    flex-direction: column;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.introduction .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h3,
.introduction .list {
    font-size: 15px;
}

/* 调整 */
#padd {
    padding: 5px 0 15px;
}

/* 底部footer */
.ju {
    font-size: 15px;
    color: #8e93a9;
    padding-bottom: 10px;
}


.page-footer .top .contact,
.page-footer .top .introduction {
    flex: 1;
}

.contact h3 {
    padding-bottom: 15px;
}

.page-footer .bottom .containe {
    width: 1140px;
    margin: auto;
    padding: 10px 0;
    font-size: 15px;
    color: #8e93a9;
    border-top: 1px solid rgb(100, 98, 98);
}

.introduction ul li {
    list-style: none;
    line-height: 30px;
    color: #8e93a9;
}

#fullscreen-bg p {
    margin-top: 10px;
    width: 130px;
    padding: 6px;
    border: 1px solid #ffffff4b;
    border-radius: 5px;
    color: white;
}

.page-footer .top a {
    color: #8e93a9;
}

.page-footer .top a:hover {
    color: #67bdf9;
}